body {
    background-color: rgb(44, 26, 110);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagens {
    width: 194px;
    height: 260px;
    margin: 15px;
    margin-top: 30px;
    border-radius: 10px;

}

.lista {
    margin-top: 30px;

}

.alinha-P {
    text-align: left;


}

.sub_texto {
    font-size: 13px;
    font-weight: 600;
    margin-top: -10px;
    
}

.divisão {
    float: left;
    text-align: center;
    margin-left: 16px;
}

.textos {
    text-align: center;
    text-align: justify;
    display: flex;
    word-wrap: break-word;
    margin-right: 140px;
    margin-left: 140px;
    font-size: larger;
}

.fotos{
    width: 780px;
}

.titulo{
    font-size: 35px;
}

.fonte{
    font-size: 15px;
    text-align: right;
    margin-right: 352px;
}



.zoomImagem {
    transition: transform 0.5s ease;
}

.zoomImagem.zoomed {
    transform: scale(1.05);
}

.linhas {
    word-wrap: break-word;
    overflow-wrap: break-word;

}

.fotos2{
    display: none;
}

.barra{
    position: relative;
    width: 300px;
    margin: 50px auto;
}

#entradapesquisa{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#sugestao{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow: auto;
    display: none;
}

#sugestao li{
   padding: 10px;
   cursor: pointer;
}

#sugestao li:hover{
    background-color: #f0f0f0;
}


@media (min-width: 360px) and (max-width: 942px) {
   .imagens{
    margin-left: 70px;
    }

    .titulo{
        font-size: 25px;
        margin-left: -400px;
    }

    .textos {
        text-align: center;
        text-align: justify;
        display: flex;
        word-wrap: break-word;
        margin-right: 20px;
        margin-left: 10px;
        font-size: large;
}

.fotos{
    display: none;
}

.fotos2{
  display: block;
  height: 200px;
  margin-left: -6px;
}

.titulo{
    font-size: 35px;
    margin-left: 20px;
}

.sub_texto {
    font-size: 13px;
    font-weight: 600;
    margin-top: -10px;
    margin-left: 52px;
}


}
