.titulo{
    color:blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    
}

.paragrafo{
    color:black;
    font-weight: 900;
    font-size: larger;
    font-family: Helvetica, sans-serif;
    text-align:inherit;
    
    
}
.vamo{
    width: 50%;
    height: 50%;
    margin: 5px;
}

.tamanho{
    width:194px ;
    height:259px ;
    margin: 5px;
}
.tamanho2{
    width: 648px;
    height: 364px;
    margin: 10px;

}

.teste3{
 width: 2px;
 height: 2px;
 color: #ffffff;
}
.junçao{
    display: flex;
}

.fundo{
    background-color: rgb(55, 48, 92);
}